<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Login</h1>
    <p>Please log in to access your account.</p>
    <h1>Login with {{ provider|title }}</h1>
        <p>Connect your {{ provider|title }} account to continue.</p>
        <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
        <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
        <a href="{% url 'register' %}">Don't have an account? Register here.</a>
    

        <script src="" async defer></script>
    </body>
</html>